/* Custom styles for index.html */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    font-size: 5rem; /* Increased font size for all text */
}

h1 {
    color: #343a40;
    font-size: 2.8rem; /* Adjusted font size */
    margin-bottom: 20px;
}

h2 {
    color: #343a40;
    font-size: 1.8rem; /* Adjusted font size */
    margin-bottom: 20px;
}

p {
    font-size: 1.4rem; /* Adjusted font size */
}

.col-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    background-color: #007bff;
}

.img-thumbnail {
    border: none;
}

.input-group {
    margin-top: 10px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
