df.pkl
df_train.pkl
df_test.pkl
df_val.pkl
.idea/
df_rgb.pkl
.DS_Store
Datasets/.DS_Store
Datasets/original_AO/.DS_Store
Datasets/original_AO/31-/.DS_Store
Datasets/original_AO/31-/.DS_Store
Datasets/original_AO/31-/.DS_Store
Datasets/Dataset/Femurs/.DS_Store
Datasets/.DS_Store
.DS_Store
key.txt
Datasets/Proximal Femur Fracture.v11i.yolov5pytorch/.DS_Store
.DS_Store
Datasets/.DS_Store
Datasets/AO/.DS_Store
Datasets/Dataset/.DS_Store
Datasets/Dataset/Femurs/.DS_Store
Datasets/Dataset/Proximal/.DS_Store
